.back-btn {
  position: fixed;
  top: 80px;
  left: 200px;
  z-index: 10;
}

@media (max-width: 767px) {
  .back-btn {
    position: fixed;
    top: 67px;
    left: 16px;
    z-index: 10;
  }
}


.student-card {
  border-radius: 18px;
  padding-top: 40px;
  margin-top: 30px;
}

.student-img {
  width: 100px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  border: 4px solid #fff;
  background: #fff;
}

.student-name {
  font-weight: 600;
  color: #1f2937;
}

/* Student ID Badge */
.student-id-badge {
  background: linear-gradient(135deg, #62688d, #112f47);
  color: #fff;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
}

.card-footer {
  background-color: #f8fafc;
  border-top: none;
}
